html, body {
      margin: auto;
      height: 100%;
      overflow-x: hidden;
        
    }

    h3{
      font-family:cursive;
    }


.center {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align:left;
  font-size: 60px;
  padding-left:2%;
}



.center1 {
  position:absolute;
  top: 75%;
  width:40%;
  text-align:left;
  font-size: 25px;
  padding-left:2.2%;
  

  
}


.center3 {
  position: absolute;
  top:15%;
  width: 190%;
  text-align:center;
  font-size:25px;
  font-family: Calibri;

}

.center3 button {
    border-radius: 20px;
    font-size:large;
}

.center4 {
  position: absolute;
  top:22%;
  width: 190%;
  text-align:center;
  font-size:17px;
  font-family: Calibri;

}

.center4 button {
    border-radius: 20px;
    font-size:large;
}

.center6 {
  position: absolute;
  top:29%;
  width: 190%;
  text-align:center;
  font-size:17px;
  font-family: Calibri;

}
.center6 button {
    border-radius: 20px;
    font-size:large;
}



img {
  size: adjust 0;
}



video { 
  width:1527px;
  opacity: 55%;
  object-fit:cover;
  position:relative;
  
}

 .cell {
    position: absolute;
  top: 155%;
  width: 100%;
  text-align:left;
  font-size: 28px;


 }